<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Pridanie napredovania</title>
    <link rel="icon" type="image/svg+xml" th:href="@{/img/motherboard-fill.svg}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/JavaSctipt/editUserRedirect.js}"></script>
    <script type="text/javascript" th:src="@{/JavaSctipt/additionalRegistrationFormValidation.js}"></script>
</head>
<body>
<!-- navbar je upravenou verziou z https://getbootstrap.com/docs/5.3/components/navbar/ -->
<nav class="navbar navbar-expand-md bg-primary menu-bar" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="menu-item" id="lave-menu">
            <a class="navbar-brand" href="https://www.skauting.sk/skauti/program/">
                <img th:src="@{/img/logoSLSK.png}" class="logo-menu" alt="logo"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/index}">Domov</a>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Program
                        </button>
                        <ul class="dropdown-menu dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/odborky}">Odborky</a></li>
                            <li><a class="dropdown-item disabled" aria-disabled="true">Výzvz</a></li>
                            <li><a class="dropdown-item disabled" aria-disabled="true">Voľné programové moduly</a></li>
                        </ul>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Moje napredovanie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">O stránke</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-item" id="stredne-menu">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
        <div class="menu-item" id="prave-menu">
            <div class="nav-item dropdown"
                 th:if="${#authentication != null and #authentication.name != 'anonymousUser'}">
                <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Prihlásený ako: <span th:text="${#authentication.name}"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/odborky}">Moje napredovanie</a></li>
                    <li><a class="dropdown-item" th:href="@{/odborka/save}">Pridaj napredovanie</a></li>
                    <li><a class="dropdown-item"
                           th:attr="onclick='editUserPasswdScr(\'' + ${#authentication.name} + '\')'">Zmena hesla</a>
                    </li>
                    <li><a class="dropdown-item" th:href="@{/logout}">Odhlásiť</a></li>
                </ul>
            </div>
            <div class="nav-item dropdown"
                 th:if="${#authentication == null or #authentication.name == 'anonymousUser'}">
                <a class="btn btn-outline-light" th:href="@{/login}">Prihlásiť</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Pridanie napredovania</h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Napredovanie bolo úspešne pridané
                </div>
            </div>
            <div class="card-body">
                <form method="post" role="form" onsubmit="return validation()" enctype="multipart/form-data"
                      th:action="@{/odborka/save}" th:object="${achievement}">
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group mb-3">
                        <label for="name" class="form-label">Názov:</label>
                        <input id="name" class="form-control" type="text" th:required="String" required
                               placeholder="Názov napredovania" th:field="*{name}">
                        <p id="nameError" class="text-danger"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label for="type" class="form-label">Typ:</label>
                        <select id="type" name="type" th:field="*{type.id}">
                            <option th:each="type : ${achievementTypes}" th:value="${type.id}"
                                    th:text="${type.name}"></option>
                        </select>
                        <p id="typeError" class="text-danger"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label for="description" class="form-label">Popis:</label>
                        <textarea id="description" th:field="*{description}" maxlength="500"></textarea>
                        <p id="descriptionError" class="text-danger"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label for="imgPath" class="form-label">Cesta k obrázku:</label>
                        <input type="text" id="imgPath" name="imgPath" th:field="*{imgPath}" required>
                        <!--            <input type="file" id="file" name="file" required>-->
                        <p id="imgPathError" class="text-danger"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label for="cardClass">Veková kategória:</label>
                        <select id="cardClass" th:field="*{cardClass}">
                            <option th:each="class : ${T(com.vaii.napredovanie2.entity.CardClass).values()}"
                                    th:value="${class}"
                                    th:text="${class.displayName}"></option>
                        </select>
                        <p id="cardClassError" class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Uložiť napredovanie</button>
                        <a class="btn btn-primary" th:href="@{/odborky}">Zrušiť</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>